
.add{
    display: flex;
    justify-content: end;
}
.col{
    margin-top: 2%;
    
}
.card{
    border: 1px solid;
}
.btne{
    display: flex;
    justify-content: space-around;
    transition: none;
    border: 0px ;
}

.btn:active{
    background-color: black;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    display: block;
}



.uniform-image 
{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}